<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Market Simulator</title>
    <link rel="stylesheet" type="text/css" href="/static/static.css">

</head>
<body>
    <div class="container">
        <h1>Welcome to Stock Market Simulator</h1>
        <button onclick="window.location.href='login.html'">Login</button>
        <button onclick="window.location.href='register.html'">Register</button>
    </div>
</body>
</html>
